Repository The-PHP-Profiler/Skeleton, changes with the owners that .github/CODEOWNERS names for each.
All owners: @The-FireHub-Project/admin-team, @dieselxxx, @The-FireHub-Project/maintenance-team

.github/CODEOWNERS:

# main owner
*   @The-FireHub-Project/admin-team

# all dot files will be handled by lead dev
.*  @dieselxxx

# README.md will be handled by maintenance team
/README.md  @The-FireHub-Project/maintenance-team

# .github will be handled by maintenance team
/.github @The-FireHub-Project/maintenance-team

# CODEOWNERS will be handled by the owner
/.github/CODEOWNERS @dieselxxx

Added .github to export-ignore
  .gitattributes
Owners: @dieselxxx

Created CONTRIBUTORS.md
  .github/CONTRIBUTORS.md
Owners: @The-FireHub-Project/maintenance-team

Created AUTHORS.md
  .github/AUTHORS.md
Owners: @The-FireHub-Project/maintenance-team

Created SECURITY.md
  .github/SECURITY.md
Owners: @The-FireHub-Project/maintenance-team

Added README.md
  README.md
Owners: @The-FireHub-Project/maintenance-team

Updated README.md
  README.md
Owners: @The-FireHub-Project/maintenance-team

Added README.md to export ignore archive file
  .gitattributes
Owners: @dieselxxx

Created CHANGELOG.md
  CHANGELOG.md
Owners: @The-FireHub-Project/admin-team

Added CHANGELOG.md to .gitattributes (#1)
  .gitattributes
Owners: @dieselxxx

Created SemanticPullRequest.yml
  .github/workflows/SemanticPullRequest.yml
Owners: @The-FireHub-Project/maintenance-team

Created Triage.yml
  .github/workflows/Triage.yml
Owners: @The-FireHub-Project/maintenance-team

Created composer.json
  composer.json
Owners: @The-FireHub-Project/admin-team

Updated README.md with new version
  README.md
Owners: @The-FireHub-Project/maintenance-team

Added vendor folder to .gitignore
  .gitignore
Owners: @dieselxxx

Created default favicon.ico (#1)
  web/favicon.ico
Owners: @The-FireHub-Project/admin-team

Created robots.txt (#1)
  web/robots.txt
Owners: @The-FireHub-Project/admin-team

Created web.config (#1)
  web/web.config
Owners: @The-FireHub-Project/admin-team

Created .htaccess (#1)
  web/.htaccess
Owners: @dieselxxx

Created index.php landing page (#1)
  web/index.php
Owners: @The-FireHub-Project/admin-team

Created torch (#1)
  torch
Owners: @The-FireHub-Project/admin-team

Updated CHANGELOG.md (#1)
  CHANGELOG.md
Owners: @The-FireHub-Project/admin-team

Added hard max for line length
  .editorconfig
Owners: @dieselxxx

Added max line size for .md files in .editorconfig
  .editorconfig
Owners: @dieselxxx

Updated README.md
  README.md
Owners: @The-FireHub-Project/maintenance-team

Added main FireHub class and Kernel
  web/index.php
Owners: @The-FireHub-Project/admin-team

Updated CHANGELOG.md
  CHANGELOG.md
Owners: @The-FireHub-Project/admin-team

Updated CHANGELOG.md
  CHANGELOG.md
Owners: @The-FireHub-Project/admin-team

Update README.md
  README.md
Owners: @The-FireHub-Project/maintenance-team

Create c.yml
  .github/workflows/c.yml
Owners: @The-FireHub-Project/maintenance-team

Update README.md
  README.md
Owners: @The-FireHub-Project/maintenance-team

Create 000-default.conf
  000-default.conf
Owners: @The-FireHub-Project/admin-team

Create Dockerfile
  Dockerfile
Owners: @The-FireHub-Project/admin-team
